/.phpunit.cache
/public/build
/node_modules
/public/hot
/public/storage
/storage/*
/vendor
.idea
.env
.htaccess
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.zip
/.fleet
/.idea

